.auth-form__container {
    padding: 2rem;
}

.auth-form {
    width: 100%;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 1px 3px 0px #cecece;
    border-radius: 1rem;
    padding: 1rem;
}

.auth-form label {
    font-weight: 700;
}

.auth-form input {
    width: 100%;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid var(--color-primary);
    margin: 0.8rem 0 2rem;
    padding: 0.5rem 0.2rem;
}
