/* navigation bar */

.navbar {
    color: var(--color-text);
}

.navbar__header {
    display: none;
}

/* ______________ media quieries _____________ */
@media (min-width: 425px) {
    .navbar__header {
        display: block;
    }
}
