/* navigation bar */

.Navbar {
    color: var(--c-text);
}

.Navbar.Navbar--header {
    display: none;
}

/* ______________ media quieries _____________ */
@media (min-width:425px) {
    .Navbar.Navbar--header {
        display: block;
    }
}
