{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "current",
          "node": "14"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["react-hot-loader/babel","@loadable/babel-plugin"]
}