@import './general/vars', './general/fonts', './general/buttons', "./general/links", "./general/position";

html {
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--c-background);
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    color: var(--c-text);
}

button {
    color: var(--c-text);
}

.v-line {
    width: 1px;
    height: 100%;
    background-color: var(--c-text);
    opacity: .5;
    margin: 0 2rem;
}

.bold {
    color: var(--c-primary);
}

@media (min-width:768px) {
    html {
        font-size: 15px;
    }
}

@media (min-width:992px) {
    html {
        font-size: 16px;
    }
}

@media (min-width:1200px) {
    html {
        font-size: 17px;
    }
}
