@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@font-face {
    font-family: 'relody-icons';
    src: url('../assets/fonts/relody-icons.eot?abbude');
    src: url('../assets/fonts/relody-icons.eot?abbude#iefix') format('embedded-opentype'),
        url('../assets/fonts/relody-icons.ttf?abbude') format('truetype'),
        url('../assets/fonts/relody-icons.woff?abbude') format('woff'),
        url('../assets/fonts/relody-icons.svg?abbude#relody-icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'relody-icons';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.Icon_apps_outline:before {
    content: "\e900";
}

.Icon_apps_solid:before {
    content: "\e901";
}

.Icon_attention_outline:before {
    content: "\e902";
}

.Icon_attention_solid:before {
    content: "\e903";
}

.Icon_basket_outline:before {
    content: "\e904";
}

.Icon_basket_solid:before {
    content: "\e905";
}

.Icon_battery_outline:before {
    content: "\e906";
}

.Icon_battery_solid:before {
    content: "\e907";
}

.Icon_blank_outline:before {
    content: "\e908";
}

.Icon_blank_solid:before {
    content: "\e909";
}

.Icon_calendar_outline:before {
    content: "\e90a";
}

.Icon_calendar_solid:before {
    content: "\e90b";
}

.Icon_call_outline:before {
    content: "\e90c";
}

.Icon_call_solid:before {
    content: "\e90d";
}

.Icon_card_outline:before {
    content: "\e90e";
}

.Icon_card_solid:before {
    content: "\e90f";
}

.Icon_cash_outline:before {
    content: "\e910";
}

.Icon_cash_solid:before {
    content: "\e911";
}

.Icon_check_outline:before {
    content: "\e912";
}

.Icon_check_solid:before {
    content: "\e913";
}

.Icon_close_outline:before {
    content: "\e914";
}

.Icon_close_solid:before {
    content: "\e915";
}

.Icon_closed_outline:before {
    content: "\e916";
}

.Icon_closed_solid:before {
    content: "\e917";
}

.Icon_copy_outline:before {
    content: "\e918";
}

.Icon_copy_solid:before {
    content: "\e919";
}

.Icon_delete_outline:before {
    content: "\e91a";
}

.Icon_delete_solid:before {
    content: "\e91b";
}

.Icon_discount_outline:before {
    content: "\e91c";
}

.Icon_discount_solid:before {
    content: "\e91d";
}

.Icon_divide_outline:before {
    content: "\e91e";
}

.Icon_divide_solid:before {
    content: "\e91f";
}

.Icon_doc_outline:before {
    content: "\e920";
}

.Icon_doc_solid:before {
    content: "\e921";
}

.Icon_down_outline:before {
    content: "\e922";
}

.Icon_down_solid:before {
    content: "\e923";
}

.Icon_download_outline:before {
    content: "\e924";
}

.Icon_download_solid:before {
    content: "\e925";
}

.Icon_edit_outline:before {
    content: "\e926";
}

.Icon_edit_solid:before {
    content: "\e927";
}

.Icon_exit_outline:before {
    content: "\e928";
}

.Icon_exit_solid:before {
    content: "\e929";
}

.Icon_female_outline:before {
    content: "\e92a";
}

.Icon_female_soiid:before {
    content: "\e92b";
}

.Icon_filter_hor_outline:before {
    content: "\e92c";
}

.Icon_filter_hor_solid:before {
    content: "\e92d";
}

.Icon_filter_outline:before {
    content: "\e92e";
}

.Icon_filter_solid:before {
    content: "\e92f";
}

.Icon_grid_outline:before {
    content: "\e930";
}

.Icon_grid_solid:before {
    content: "\e931";
}

.Icon_hand-right_outline:before {
    content: "\e932";
}

.Icon_hand-right_solid:before {
    content: "\e933";
}

.Icon_harddrive_on_outline:before {
    content: "\e934";
}

.Icon_harddrive_on_solid:before {
    content: "\e935";
}

.Icon_home_outline:before {
    content: "\e936";
}

.Icon_home_solid:before {
    content: "\e937";
}

.Icon_language_outline:before {
    content: "\e938";
}

.Icon_language_solid:before {
    content: "\e939";
}

.Icon_left_outline:before {
    content: "\e93a";
}

.Icon_left_solid:before {
    content: "\e93b";
}

.Icon_link_outline:before {
    content: "\e93c";
}

.Icon_link_solid:before {
    content: "\e93d";
}

.Icon_location_outline:before {
    content: "\e93e";
}

.Icon_location_solid:before {
    content: "\e93f";
}

.Icon_love_outline:before {
    content: "\e940";
}

.Icon_love_solid:before {
    content: "\e941";
}

.Icon_mail_outline:before {
    content: "\e942";
}

.Icon_mail_solid:before {
    content: "\e943";
}

.Icon_male_outline:before {
    content: "\e944";
}

.Icon_male_solid:before {
    content: "\e945";
}

.Icon_menu_leftpoint_outline:before {
    content: "\e946";
}

.Icon_menu_leftpoint_solid:before {
    content: "\e947";
}

.Icon_menu_outline:before {
    content: "\e948";
}

.Icon_menu_point_h_outline:before {
    content: "\e949";
}

.Icon_menu_point_h_solid:before {
    content: "\e94a";
}

.Icon_menu_point_v_outline:before {
    content: "\e94b";
}

.Icon_menu_point_v_solid:before {
    content: "\e94c";
}

.Icon_menu_solid:before {
    content: "\e94d";
}

.Icon_minus_outline:before {
    content: "\e94e";
}

.Icon_minus_solid:before {
    content: "\e94f";
}

.Icon_multiply_outline:before {
    content: "\e950";
}

.Icon_multiply_solid:before {
    content: "\e951";
}

.Icon_notification_outline:before {
    content: "\e952";
}

.Icon_notification_solid:before {
    content: "\e953";
}

.Icon_pause_outline:before {
    content: "\e954";
}

.Icon_pause_solid:before {
    content: "\e955";
}

.Icon_play_outline:before {
    content: "\e956";
}

.Icon_play_solid:before {
    content: "\e957";
}

.Icon_plus_outline:before {
    content: "\e958";
}

.Icon_plus_solid:before {
    content: "\e959";
}

.Icon_print_outline:before {
    content: "\e95a";
}

.Icon_print_solid:before {
    content: "\e95b";
}

.Icon_question_outline:before {
    content: "\e95c";
}

.Icon_question_solid:before {
    content: "\e95d";
}

.Icon_rating_outline:before {
    content: "\e95e";
}

.Icon_rating_solid:before {
    content: "\e95f";
}

.Icon_record_outline:before {
    content: "\e960";
}

.Icon_record_solid:before {
    content: "\e961";
}

.Icon_reload_outline:before {
    content: "\e962";
}

.Icon_reload_solid:before {
    content: "\e963";
}

.Icon_right_outline:before {
    content: "\e964";
}

.Icon_right_solid:before {
    content: "\e965";
}

.Icon_save_outline:before {
    content: "\e966";
}

.Icon_save_solid:before {
    content: "\e967";
}

.Icon_schedule_outline:before {
    content: "\e968";
}

.Icon_schedule_solid:before {
    content: "\e969";
}

.Icon_search_outline:before {
    content: "\e96a";
}

.Icon_search_solid:before {
    content: "\e96b";
}

.Icon_select_apps_outline:before {
    content: "\e96c";
}

.Icon_select_apps_solid:before {
    content: "\e96d";
}

.Icon_settings_outline:before {
    content: "\e96e";
}

.Icon_settings_solid:before {
    content: "\e96f";
}

.Icon_share_ouline:before {
    content: "\e970";
}

.Icon_share_solid:before {
    content: "\e971";
}

.Icon_star_outline:before {
    content: "\e972";
}

.Icon_star_solid:before {
    content: "\e973";
}

.Icon_time_outline:before {
    content: "\e974";
}

.Icon_time_solid:before {
    content: "\e975";
}

.Icon_up_down_outline:before {
    content: "\e976";
}

.Icon_up_down_solid:before {
    content: "\e977";
}

.Icon_up_outline:before {
    content: "\e978";
}

.Icon_up_solid:before {
    content: "\e979";
}

.Icon_upload_outline:before {
    content: "\e97a";
}

.Icon_upload_solid:before {
    content: "\e97b";
}

.Icon_user_outline:before {
    content: "\e97c";
}

.Icon_user_solid:before {
    content: "\e97d";
}

.Icon_view_outline:before {
    content: "\e97e";
}

.Icon_view_solid:before {
    content: "\e97f";
}
