.Link {
    text-decoration: none;
    font-size: 1.1rem;
    padding: .6em 1em;
    border-radius: 2em;
    color: var(--c-text);
/* 
    &:hover {
        color: var(--c-turquoise);
    }

    &[aria-current] {
        color: var(--c-primary);
    }

    &.fill {
        background-color: var(--c-primary);
        color: #fff;
    } */
}
