:root {
    --color-white: #fff;
    --color-cloud: #e9e9eb;
    --color-red: #ef4b4c;
    --color-blue: #3d619b;
    --color-dark: #1b2333;
    --color-dark-2: #253046;
    --color-grey-dark: #565e6b;
    --color-grey-light: #a1a1b9;
    --shadow-outline: 0 0 0 2px #fff, 0 0 0 4px #000;
    --color-shadow-light: #ffffff33;
    --color-shadow-dark: #00000033;
}

.theme-light {
    --color-background: var(--color-white);
    --color-background-2: var(--color-cloud);
    --color-primary: var(--color-red);
    --color-secondary: var(--color-blue);
    --color-text: var(--color-dark);
    --color-grey: var(--color-grey-dark);
    --color-shadow: var(--color-shadow-dark);
}

.theme-dark {
    --color-background: var(--color-dark);
    --color-background-2: var(--color-dark-2);
    --color-primary: var(--color-red);
    --color-secondary: var(--color-blue);
    --color-text: var(--color-white);
    --color-grey: var(--color-grey-light);
    --color-shadow: var(--color-shadow-light);
}
