:root {
    --c-white: #FFF;
    --c-cloud: #E9E9EB;
    --c-red: #EF4B4C;
    --c-blue: #3D619B;
    --c-dark: #1b2333;
    --c-grey-dark: #565e6b;
    --c-grey-light:#a1a1b9;
    --shadow-outline: 0 0 0 2px #fff, 0 0 0 4px #000;
}

.theme-light {
    --c-background: var(--c-white);
    --c-background-2: var(--c-cloud);
    --c-primary: var(--c-red);
    --c-secondary: var(--c-blue);
    --c-text: var(--c-dark);
    --c-grey: var(--c-grey-dark);
}

.theme-dark {
    --c-background: var(--c-dark);
    --c-background-2: var(--c-dark-2);
    --c-primary: var(--c-red);
    --c-secondary: var(--c-blue);
    --c-text: var(--c-white);
    --c-grey: var(--c-grey-light);
}
